:root {
  --main-brand-color: rgb(255, 168, 137);
  --dark-shades: orangered;
}

.sidebar {
  height: 100%;
  width: 4rem;
  background-color: var(--main-brand-color);
  transition: all .4s;
}
.sidebar:hover {
  width: 12rem;
}

.sidebar__list {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebar__row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .6s;
}

.sidebar__row:hover {
  cursor: pointer;
  background-color: var(--dark-shades);
  filter: brightness(90%);
  width: 12rem;
}

#sidebar--active {
  background-color: var(--dark-shades);
  filter: brightness(90%);
}

.sidebar__icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.sidebar__title {
  flex: 70%;
  display: none;
}

.sidebar:hover .sidebar__title{
  display: block;
}